RewriteEngine On

# Force SSL (HTTPS) redirection
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Remove "index.php" from the URL
RewriteCond %{THE_REQUEST} /index\.php [NC]
RewriteRule ^index\.php(.*)$ /$1 [L,R=301,NC]

# Redirect to remove trailing slash if not a directory
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ /$1 [L,R=301]

# Handle all other requests by redirecting to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
